*.DS_Store
**/.ipynb_checkpoints
**/.virtual_documents
**/__pycache__

examples/**/coSimData/*.npy
examples/**/coSimData/*.dat
examples/**/vtk_output_fsi_cfd/*.vtk
examples/**/vtk_output_fsi_csm/*.vtk
examples/**/doubleFlap_CFD/*.vtk
examples/**/doubleFlap_CSM/*.vtk


examples/**/results/**/*.npy
examples/**/results/**/*.dat
examples/**/trainedROMs/*.pkl
examples/**/trainingData/**/*.npy
examples/**/trainingData/**/*.dat

examples/flexibleTubeFlow/data/**/*.npy

